services:
  - name: starluxe-cms-backend
    type: web
    env: node
    buildCommand: "npm install"
    startCommand: "npm start"
    envVars:
      - key: DATABASE_URL
        sync: false
      - key: DB_HOST
        sync: false
      - key: DB_USERNAME
        sync: false
      - key: DB_PASSWORD
        sync: false
      - key: DB_NAME
        sync: false
    git:
      repo: https://github.com/Denni007/Starluxe-CMS-backend.git
      branch: main
    regions:
      - oregon
    healthCheckPath: /test
    instanceType: free 