name: Prod CI/CD

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Install sshpass
        run: sudo apt-get install -y sshpass

      - name: Production
        run: |
          # Production commands here
          echo "Production the application"

      - name: Deploy to VPS
        env:
          SSH_USER: ${{ secrets.VPS_USERNAME }}
          SSH_PASS: ${{ secrets.VPS_PASSWORD }}
          VPS_IP: ${{ secrets.VPS_IP }}
        run: |
          sshpass -p "$SSH_PASS" ssh -o StrictHostKeyChecking=no $SSH_USER@$VPS_IP << 'EOF'
            TARGET_DIR="/root/cms/Starluxe-CMS-backend"
            REPO_URL="https://github.com/Denni007/Starluxe-CMS-backend.git"

            if [ -d "$TARGET_DIR/.git" ]; then
              echo "Repository exists. Pulling latest changes..."
              cd $TARGET_DIR
              git pull origin main
            else
              echo "Repository not found. Cloning..."
              mkdir -p /root/cms
              cd /root/cms
              # Remove if exists but invalid
              rm -rf Starluxe-CMS-backend
              git clone $REPO_URL
              cd Starluxe-CMS-backend
            fi

            npm install
            pm2 restart cms-backend
          EOF
